	@font-face {
	font-family: 'La Belle Aurore';
	src: url(../font/LaBelleAurore-Regular.ttf);
}

@font-face {
	font-family: 'Passion One';
	src: url(../font/PassionOne-Regular.ttf);
}

	$--white: #FFFFFF;
	$--black: #000000;
	$--background-grey: #1d1d1d;
	$--background-grey-black: #181818;
	$--color-wine: #3d0604;
	$--text-color: #909096;
	$--text-hover: #08fdd8;
	$--text-etiqueta: #515152;
	$--font-etiqueta: 'La Belle Aurore';
	$--font-family: 'Passion One';
	$--border: #282828;
	$--sm: 16px;
	$--md: 18px;
	$--lg: 20px;
