html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1d1d1d;
}

body::-webkit-scrollbar {
 display: none;
}

body:hover::-webkit-scrollbar {
 display: initial;
}

body::-webkit-scrollbar-thumb {
	background-color: #66bde6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
