@import "vars";

.List {
	width: 50%;
	margin: 150px auto 0;
}

.list-content {
	font-size: 1.25em;
	padding: 0;
}

.content {
	margin-right: 180px;
	margin-left: 50px;
}

.item {
	list-style: none;
	display: block;
	height: 2.63em;
	background-color: $--text-list;
	margin-bottom: 1em;
	line-height: 2.6em;
	white-space: nowrap;
	border-radius: 1.3em 0 0 1.3em;
	position: relative;
	box-shadow: 1px 1px rgba(255, 255, 255, 0.15);
	animation: moveout;
	animation-duration: 1.5s;
	animation-delay: 0.5s;
}

.span {
	padding-left: 50px;
	font-weight: bold;
	font-family: $--font-family;
	letter-spacing: 1px;
}

.item::before {
	content: '+';
	display: block;
	color: $--white;
	text-align: center;
	background-color: #131313;
	border-radius: 50%;
	height: 2em;
	width: 2em;
	line-height: 2em;
	position: absolute;
	left: 0.3em;
	top: 0.3em;
}

.item::after {
	content: '';
	background-color: $--white;
	display: block;
	height: 2.6em;
	width: 0;
	position: absolute;
	left: 100%;
	top: 0;
	transform: skewY(30deg);
	transform-origin: 0 0;
	transition: 0.5s ease-out all;
	box-shadow: 1px 1px rgba(255, 255, 255, 0.15);
	animation: diagon infinite;
	animation-duration: 2.5s;
	animation-delay: 2s;
}

.list-content .text {
	text-transform: uppercase;
	color: $--text;
	text-decoration: none;
}

@keyframes moveout {
	0% {
		width: 2.6em;
		overflow: hidden
	}
	100% {
		width: 100%
	}
}

@keyframes diagon {
	0% {
		width: 0;
	}
	100% {
		width: 38%;
	}
}

@media (max-width: 920px) {
	.List {
		width: 100%;
		margin-top: 100px;
		margin-left: 0;
		margin-bottom: 150px;
	}

	.content {
		margin-right: 180px;
		margin-left: 10px;
	}
}

@media (max-width: 420px) {
	.List {
		width: 100%;
		margin-top: 100px;
		margin-left: 10px;
		margin-bottom: 150px;
	}

	.span {
		padding-left: 10px;
	}

	.content {
		margin-right: 70px;
		margin-left: -30px;
	}

	.item {
		padding-top: 8px;
		padding-left: 0;
		list-style: none;
		display: block;
		height: 2.20em;
		margin-bottom: 1em;
		line-height: 2em;
	}

	.item::before {
		display: none;
		width: 0;
	}

	.item::after {
		height: 2.2em;
	}

	.text span {
		font-size: 12px;
	}
}
