@import "vars";

.Contact-content {
	margin-left: 150px;
}

.Contact-content::before {
	content: '<html>';
	font-family: $--font-etiqueta;
	color: $--text-etiqueta;
	font-size: 1.8rem;
	position: absolute;
	left: 170px;
	top: 0;
}

.Contact-content::after {
	content: '</html>';
	font-family: $--font-etiqueta;
	color: $--text-etiqueta;
	font-size: 1.8rem;
	position: absolute;
	top: 92%;
	left: 170px;
}

.contact-container::before {
	content: '<body>';
	font-family: $--font-etiqueta;
	color: $--text-etiqueta;
	font-size: 1.8rem;
	position: absolute;
	left: 190px;
	top: 40px;
}

.contact-container::after {
	content: '</body>';
	font-family: $--font-etiqueta;
	color: $--text-etiqueta;
	font-size: 1.8rem;
	position: absolute;
	top: 87%;
	left: 190px;
}

@media (max-width: 920px) {
	.Contact-content {
		margin-left: 250px;
	}

	.Contact-content::before {
		left: 30px;
		top: 100px;
	}

	.Contact-content::after {
		top: 1350px;
		left: 30px;
	}

	.contact-container::before {
		left: 50px;
		top: 140px;
	}

	.contact-container::after {
		top: 1300px;
		left: 50px;
	}
}

@media (max-width: 420px) {
	.Contact-content::after {
		top: 1400px;
		left: 30px;
	}

	.contact-container::after {
		top: 1350px;
		left: 50px;
	}
}
