@import "vars";

.Menu {
	width: 9rem;
	background-color: $--background-grey-black;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	right: auto;
	bottom: 0;
	display: flex;
	z-index: 8;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style-type: disc;
}

.main-menu_top {
	background: $--black;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 150px;
	padding-top: 2rem;
}

.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo-letter {
	width: 7rem;
	height: auto;
	padding-bottom: 5px;
}

.logo span {
	font-family: font-file-82132;
	color: $--white;
	margin-top: 1px;
	font-size: 2rem;
}

.main-menu_top>span {
	font-family: 'Open Sans';
	color: $--text-color;
	filter: brightness(1.75);
	font-size: 1rem;
	margin-top: 0.3rem;
	padding-bottom: 20px;
}

.main-menu_nav {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  border-top: 1px solid $--border;
	margin-bottom: 100px;
}

.main-menu_nav .pages {
	text-align: center;
	width: 100%;
	display: block;
	font-size: 1.1rem;
	color: -text-color;
	line-height: 5rem;
	border-bottom: 1px solid $--border;
	filter: brightness(1.75);
	transition: color 0.3s, background-color 0.3s;
}

.pages {
	color: $--text-color;
	filter: brightness(1.75);
}

.pages:hover {
	color: $--text-hover;
	filter: brightness(1.75);
}

.page-contact {
	color: $--text-hover;
	text-align: center;
	width: 100%;
	display: block;
	font-size: 1.1rem;
	color: -text-color;
	line-height: 5rem;
	border-bottom: 1px solid $--border;
	transition: color 0.3s, background-color 0.3s;
}

.social {
	color: $--text-color;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	height: 20rem;
	margin-top: 70px;
}

.li {
	display: list-item;
	list-style: none;
	padding-right: 8px;
}

.social svg {
	width: 1.5rem;
}

.social svg:hover {
	-webkit-text-size-adjust: 100%;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Open Sans",sans-serif;
  -webkit-box-direction: normal;
  list-style: none;
  text-align: center;
  color: #08fdd8;
  box-sizing: border-box;
  will-change: transform;
  overflow: hidden;
  width: 1.5rem;
}

.social-icon {
	width: 1.5rem;
}

.social-icon:hover {
	color: $--text-hover;
}

.mode {
	display: none;
}

.containerNav {
	width: 100%;
}

@media (max-width: 920px) {
	.Menu {
		width: 100%;
		background-color: $--black;
		height: 8%;
		display: block;
		position: fixed;
		z-index: 3;
	}

	.main-menu_top {
		margin-top: 20px;
	}

	.logo {
		display: flex;
		position: fixed;
		left: 10px;
	}

	.logo-letter {
		width: 4rem;
		height: auto;
		padding-bottom: 5px;
	}

	.logo span {
		font-family: font-file-82132;
		color: $--white;
		margin-top: 1px;
		font-size: 16px;
	}

	.main-menu_top>span {
		display: none;
	}

	.containerNav {
		position:inherit;
		top: 0;
		margin-left: 150px;
	}

	.main-menu_nav {
		width: 60%;
		display: flex;
		flex-direction: row;
		border-top: 0;
	}

	.main-menu_nav .pages {
		text-align: center;
		width: 100%;
		display: block;
		font-size: 1.3rem;
		color: -text-color;
		line-height: 5rem;
		filter: brightness(1.75);
		transition: color 0.3s, background-color 0.3s;
		border-bottom: 0;
	}

	.page-contact {
		font-size: 1.3rem;
		border-bottom: 0;
	}

	.social {
		color: $--text-color;
		margin-top: 30px;
		margin-right: 10px;
		padding: 0;
		list-style: none;
		display: flex;
		position: fixed;
		top: 0;
		right: 0;
		flex-wrap: wrap;
		height: 20rem;
	}

	.li {
		display: list-item;
		list-style: none;
		padding-right: 8px;
	}
}

@media (max-width: 420px) {
	.Menu {
		width: 100%;
		background-color: $--black;
		height: 80px;
		display: block;
		position: fixed;
		z-index: 3;
	}

	.main-menu_top {
		margin-top: 5px;
		margin-left: 10px;
	}

	.logo {
		display: flex;
		position: fixed;
		left: 20px;
	}

	.logo-letter {
		width: 3rem;
		height: auto;
		padding-bottom: 5px;
	}

	.logo span {
		font-family: font-file-82132;
		color: $--white;
		margin-top: 1px;
		font-size: 14px;
	}

	.main-menu_top>span {
		display: none;
	}

	.containerNav {
		position:inherit;
		top: 0;
		margin-left: 120px;
		margin-top: 15px;
	}

	.main-menu_nav {
		width: 60%;
		display: flex;
		flex-direction: row;
		border-top: 0;
	}

	.main-menu_nav .pages {
		text-align: center;
		width: 100%;
		display: block;
		font-size: 14px;
		color: $--text-color;
		line-height: 2rem;
		border-bottom: 0;
	}

	.page-contact {
		color: $--text-hover;
		text-align: center;
		font-size: 14px;
		line-height: 2rem;
		border-bottom: 0;
	}

	.social {
		display: none;
	}
}
