@import "vars";

.Skill::before {
	content: '<html>';
	font-family: $--font-etiqueta;
	color: $--text-etiqueta;
	font-size: 1.8rem;
	position: absolute;
	left: 170px;
	top: 0;
	font-weight: 600;
}

.Skill::after {
	content: '</html>';
	font-family: $--font-etiqueta;
	color: $--text-etiqueta;
	font-size: 1.8rem;
	position: absolute;
	top: 885px;
	left: 170px;
	font-weight: 600;
}

.skill::before {
	content: '<body>';
	font-family: $--font-etiqueta;
	color: $--text-etiqueta;
	font-size: 1.8rem;
	position: absolute;
	left: 190px;
	top: 40px;
	font-weight: 600;
}

.skill::after {
	content: '</body>';
	font-family: $--font-etiqueta;
	color: $--text-etiqueta;
	font-size: 1.8rem;
	position: absolute;
	top: 835px;
	left: 190px;
	font-weight: 600;
}

.skillContent {
	margin-left: 170px;
	display: flex;
}

.title {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  text-decoration: none;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 24%;
  transform: translateX(-50%) translateY(-50%);
	font-size: 40px;
}

.spanTitle {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -3px;
}

.title::before,
.title::after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 7s alternate ease-in-out tipsy;
}

.title::before {
  border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.title::after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}

@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(180deg);
  }
}

.content-text {
	margin-top: 350px;
	z-index: 999;
}

.content-text::before {
	content: '<p>';
	font-family: $--font-etiqueta;
	color: $--text-etiqueta;
	font-size: 1.8rem;
	position: absolute;
	margin-top: -3rem;
	z-index: -10;
}

.content-text::after {
	content: '</p>';
	font-family: $--font-etiqueta;
	color: $--text-etiqueta;
	font-size: 1.8rem;
	position: absolute;
	z-index: -10;
}

.textSkill {
	color: $--white;
	transform: translateX(1%) translateY(0%);
}

.span {
	font-family: $--font-family;
	font-size: 20px;
}

.link {
	color: $--text-hover;
}

@media (max-width: 920px) {
	.Skill::before {
		left: 20px;
		top: 120px;
	}

	.Skill::after {
		top: 1530px;
		left: 20px;
	}

	.skill::before {
		left: 40px;
		top: 160px;
	}

	.skill::after {
		top: 1490px;
		left: 40px;
	}

	.skillContent {
		margin-left: 70px;
		display: block;
	}

	.title {
		top: 22%;
		left: 50%;
	}

	.content-text::after {
		font-size: 1.8rem;
		left: 70px;
		top: 680px;
		z-index: 10;
	}

	.content-text {
		margin-top: 350px;
		z-index: 999;
	}
}

@media (max-width: 420px) {
	.Skill::before {
		font-size: 1.2rem;
		left: 20px;
		top: 100px;
	}

	.Skill::after {
		font-size: 1.2rem;
		top: 1850px;
		left: 20px;
	}

	.skill::before {
		font-size: 1.2rem;
		left: 40px;
		top: 130px;
	}

	.skill::after {
		font-size: 1.2rem;
		top: 1820px;
		left: 40px;
	}

	.skillContent {
		margin-left: 30px;
		display: block;
	}

	.title {
		top: 36%;
		left: 50%;
		font-size: 20px;
		letter-spacing: -1px;
	}

	.title::before,
	.title::after {
		border: 10px solid red;
	}

	.content-text::before {
		font-size: 1.2rem;
		position: absolute;
		margin-top: -3rem;
		z-index: -10;
	}

	.content-text::after {
		font-size: 1.2rem;
		left: 30px;
		top: 860px;
		z-index: 3;
	}

	.SkillText {
		width: 100%;
	}

	.content-text {
		width: 100%;
		margin-top: 350px;
		z-index: 999;
	}

	.space {
		display: none;
	}
}
